.main{
    

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    align-items: center;
}
.board{
    border: 1px solid black;
    /* min-height: 700px; */
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    
}
.cell{
    border: 1px solid black;
    /* min-width: 30px;
    min-height: 30px; */
}